@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255;
    --foreground: 240, 240, 240;

    --text: 51, 65, 85;
    --text-foreground: 0, 0, 0;

    --button: 71, 85, 105;
    --button-foreground: 255, 255, 255;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 248, 250, 252;
    --primary-foreground: 210 40% 98%;

    --secondary: 241, 245, 249;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --third: 203, 213, 225;
    --third-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 32, 33, 36;
    --foreground: 51, 65, 85;

    --text: 203, 213, 225;
    --text-foreground: 255, 255, 255;

    --button: 255, 255, 255;
    --button-foreground: 71, 85, 105;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 30, 41, 59;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 71, 85, 105;
    --secondary-foreground: 210 40% 98%;

    --third: 148, 163, 184;
    --third-foreground: 222.2 47.4% 11.2%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  * {
    @apply border-border text-text;
  }
  body {
    @apply flex w-full flex-col bg-background xl:items-center;
  }
  div > span > span > span {
    @apply text-left font-mono leading-loose;
  }
  div > span > span > span > span {
    @apply my-1 text-center;
  }
  div > span > span > span > span > span {
    @apply m-0;
  }
  .prose blockquote {
    @apply border-text bg-muted py-2 pr-1;
  }
  .prose ul > li > ul {
    @apply list-["৹__"];
  }
  .prose ul > li > ul > li > ul {
    @apply list-["▪__"];
  }
  .prose pre > code {
    display: grid;
  }
  .prose pre span[data-line] {
    @apply inline-block px-4 py-0.5 leading-snug;
  }

  /* Fenced Code block - line number style */
  .prose code[data-line-numbers] {
    counter-reset: line;
  }

  .prose code[data-line-numbers] > span[data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 0.75rem;
    margin-right: 1.25rem;
    text-align: right;
    color: gray;
  }
  /* Fenced Code block - line hightlight */
  .prose code span[data-highlighted-line] {
    @apply border-y-0 border-l-2 border-blue-400 border-transparent 
          bg-indigo-400 bg-opacity-10 pl-[calc(1rem-2px)] dark:border-blue-500
          dark:bg-slate-700;
  }
  /* Fenced Code block - with title style*/
  .prose figcaption[data-rehype-pretty-code-title] {
    @apply rounded-t-lg border border-b-0 border-gray-200 bg-gray-200 px-5 py-3 font-mono text-sm font-bold text-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200;
  }
  .prose figcaption[data-rehype-pretty-code-title] + pre {
    @apply mt-0 rounded-t-none;
  }
  /* Inline code block backtick display: none */
  .prose :not(pre) > code::before,
  .prose :not(pre) > code::after {
    display: none;
  }

  /* inline code block style */
  .prose :not(pre) > code {
    @apply rounded border border-primary bg-foreground px-1 py-0.5 align-middle font-mono text-sm font-normal text-text;
  }
}

/* custom styles */
@layer components {
  .topbar {
    @apply flex h-12 w-full items-center justify-between bg-foreground;
  }
  .category {
    @apply my-14 block text-4xl font-bold text-blue-500 no-underline;
  }
  .subject {
    @apply my-10 block text-3xl font-bold text-yellow-500 no-underline;
  }
  .content {
    @apply block font-bold text-text-foreground no-underline hover:underline;
  }
  .sidebar {
    @apply mb-1 block rounded-md no-underline hover:bg-amber-200 dark:hover:bg-amber-800;
  }
  .sidebar-md {
    @apply fixed right-0 top-[15%] max-h-[70%] w-[16%] scroll-mb-2 overflow-scroll rounded-xl p-3 shadow-inner;
  }
  .leftsidebar {
    @apply mb-1 block rounded-md no-underline;
  }
  .leftsidebar-md {
    @apply fixed left-2 top-[15%] max-h-[70%] w-[16%] scroll-mb-2 overflow-scroll rounded-xl p-3 shadow-inner;
  }
}

html {
  @media (max-width: 1500px) {
    font-size: 87.5%;
  }
  @media (max-width: 1023px) {
    font-size: 75%;
  }
  @media (max-width: 767px) {
    font-size: 62.5%;
  }
}
